/* 16px = 1rem = p-3 / m-3 */

:root {
  --bg-main-gray:#2a2a2a;
  --bg-light-gray:#2a2a2a7c;
  --bg-main-blue1: #8ae1f5;
  --bg-main-blue2:#7fbacc;
  --bg-main-blue3:#b9dfe9;
  --bg-light-green:#c7ffee;
  --bg-light-red:#ffe1e0;
  --bg-light-orange:#fff5e0;
  --easing-easeInOut: cubic-bezier(0.65,0,0.35,1);
}

/* GENERAL BODY
-------------------------------------------------- */
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 28px;
  letter-spacing: -.05rem;
  font-weight: 400;
  line-height: 1.1;
  color: var(--bg-main-gray);
}
h2 {
  font-size: 20px;
  letter-spacing: 0rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--bg-main-gray);
}
h3 {
  font-size: 18px;
  letter-spacing: 0rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bg-main-gray);
}
p {
  color: black;
  font-size: 16px;
}

.body-bg {
  background: linear-gradient(-45deg, var(--bg-main-blue1), var(--bg-main-blue2), var(--bg-main-blue3), white);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.bg-transparent {
  background: transparent;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* HEADER
-------------------------------------------------- */

.header {
  margin: 0rem auto; /* Center horizontally */
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 960px;
  height: 5rem;
  z-index: 99;
}

.header-bg {
  background-image: url('./assets/header-background.svg'); /* Replace with the path to your texture image */
  background-size: cover; /* Adjust this as needed */
  background-blend-mode: multiply; /* You can experiment with blend modes */
  height: auto;
  z-index: 99;
  /* background by https://bgjar.com/meteor */
}

.header-logo {
  max-height: 5rem;
  width: auto;
  padding: 0.5rem;
  margin: 0rem; /* Center the grid on the page */
}

/* MAIN SIZING
-------------------------------------------------- */

/* @media queries*/
/* When the screen size is 801px or bigger */
@media (min-width: 801px) {
  .tiles-container-flex {
    grid-template-columns: repeat(4, 1fr); /* Set the desired even number of columns */
  }
  .tiles-container-flex-sm {
    grid-template-columns: repeat(2, 1fr); /* Set the desired even number of columns */
  }
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
/* When the screen size is 800px or smaller */
@media (max-width: 800px) {
  .tiles-container-flex {
    grid-template-columns: repeat(2, 1fr); /* Set the desired even number of columns */
  }
  .tiles-container-flex-sm {
    grid-template-columns: repeat(2, 1fr); /* Set the desired even number of columns */
  }
}
/* When the screen size is 600px or smaller */
@media (max-width: 640px) {
  .tiles-container-flex {
    grid-template-columns: repeat(1, 1fr); /* Set the desired even number of columns */
  }
  .tiles-container-flex-sm {
    grid-template-columns: repeat(1, 1fr); /* Set the desired even number of columns */
  }
}

/* TEXT CAROUSEL
-------------------------------------------------- */
    
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      top: 0.5rem;
      /*bottom: 1rem; /*3rem*/
      z-index: 10;
    }
    
    /* Declare heights because of positioning of img element */
    .carousel-item {
      height: 10rem; /*32rem*/
    }
    .carousel-item img {
      max-width: 100%;
      height: 640px;
      object-fit: cover;
    }
    
    
/* FEATURETTES
-------------------------------------------------- */
    
    .featurette {
      justify-content: center; /* Center the grid horizontally */
      align-content: center; /* Center the grid vertically */
      margin: 0rem auto; /* Center the grid on the page */
      padding: 1rem;
      min-width: 160px;
      max-width: 960px;
    }
    .featurette-image {
      max-width: 100%;
      max-height: 240px;
      object-fit: cover;
    }
    .featurette:hover {
      transform: scale(1.01);
    }


/* TILES CSS
-------------------------------------------------- */

/* Style for the tiles container */
.tiles-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Two columns in the grid */
  gap: 1rem; /* Gap between tiles */
  justify-content: center; /* Center the grid horizontally */
  align-content: center; /* Center the grid vertically */
  margin: 0rem auto; /* Center the grid on the page */
  padding: 1rem;
  min-width: 160px;
  max-width: 960px; /* Limit the maximum width of the grid */
}

/* Style for the tiles container */
.tiles-container-flex {
  display: grid;
  gap: 1rem; /* Gap between tiles */
  justify-content: center; /* Center the grid horizontally */
  align-content: center; /* Center the grid vertically */
  margin: 0rem auto; /* Center the grid on the page */
  padding: 1rem;
  min-width: 160px;
  max-width: 960px;
}
/* Style for the tiles container */
.tiles-container-flex-sm {
  display: grid;
  gap: 1rem; /* Gap between tiles */
  justify-content: center; /* Center the grid horizontally */
  align-content: center; /* Center the grid vertically */
  margin: 0rem auto; /* Center the grid on the page */
  padding: 1rem;
  min-width: 160px;
  max-width: 960px;
}

.col1 {
  grid-template-columns: repeat(1, 1fr);
}
.col2 {
  grid-template-columns: repeat(2, 1fr);
}
.col3 {
  grid-template-columns: repeat(3, 1fr);
}
.col4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Style for individual tiles */
.button-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: center;
  position: relative; /* To position the icon */
  cursor: pointer;
  grid-column: span 1;
  text-decoration: none; /* Remove underlines from links */
  color: inherit; /* Inherit text color from parent (tile) */
}

/* Style for individual tiles */
.fixed-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* To position the icon */
  text-align: center;
  grid-column: span 1;
  overflow: hidden;
  overflow-wrap: break-word;
}

.button-tile:hover {
  transform: scale(1.02);
}

/* Style for the extra text inside the tiles */
.button-tile p {
  color: var(--bg-main-gray); /* Color for the extra text */
  max-height: 3rem;
  overflow: hidden;
}

/* Style for the extra text inside the tiles */
.button-tile i {
  font-size: 2rem; /* Adjust the extra text size */
  color: cornflowerblue; /* Color for the extra text */
}

.button-tile span {
  top: -0.5rem;
  right: -0.5rem;
  position: absolute;
  display: flex;
}

/* NEWS TILE */
.news-tile {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.news-tile h2 {
  margin: 0.5rem 0 0.5rem 0;
  flex: 1;
}

.news-tile-image {
  position: relative;
}

.news-tile-image i {
  top: 0rem;
  right: 0rem;
  position: absolute;
  font-size: 2rem; /* Adjust the extra text size */
  color: red; /* Color for the extra text */
  display: flex;
  padding: 0.5rem;
}

.news-tile-cover {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.news-tile-desc {
  position: relative;
  max-height: 72px;
  overflow: hidden;
  padding-right: 0.5rem;
}
.news-tile-desc::before {
  position: absolute;
  content: '...';
  bottom: 0;
  right: 0;
}
.news-tile:hover {
  transform: scale(1.02);
}

/* NEWS POST
-------------------------------------------------- */
.news-post-image {
  min-height: 160px;
  max-height: 600px;
}

/* YOUTUBE EMBED
-------------------------------------------------- */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}



/* Glassmorphism */
.glass-effect { 
  box-shadow: 0 0 5px 0 ; 
  background: rgba(255, 255, 255, 0.2); /*inherit*/
  backdrop-filter: blur(10px);
}

.list-group-item img {
  max-width: 2.5rem;
}

.gallery-item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.gallery-item:hover {
  box-shadow: 0 0 5px 0; 
  background: inherit; 
  backdrop-filter: blur(10px);
}

/* TESTING
-------------------------------------------------- */
.test {
  width: 280px;
  height: 250px;
  overflow: 'hidden';
}

.test img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.test-img {
  height: 80px;
  min-width: 80px;
  object-fit: cover;
}

.test-img-square {
  min-height: 56px;
  min-width: 56px;
  object-fit: cover;
}

.contact-circle {
  width: 56px;
  height: 56px;
  background-color: var(--bg-light-gray);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* VIDEO PLAYBACK
-------------------------------------------------- */
.background-overlay {
  height: 100%;
  left: 0px;
  margin-bottom: -100%;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}
.video-playback {
  width: 100%;
  height: auto;
  pointer-events: none;
  object-fit: cover;
  opacity: 0.6;
  mix-blend-mode:hard-light; /* Use the multiply blend mode for the opacity gradient effect */
}